* {
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    display: flex;
    padding-top: 5rem;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}
.row {
display: flex;
width: 600px;
justify-content: space-between;
margin-bottom: 1rem;
}
.col-header{
    width: 150px;
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
    border-radius: 20px;
    padding: 0.8rem 1rem;
    color: white;
    background: linear-gradient(90deg,#9f3f3f 0%, #2b94a4 100%);
}
.item{
    width: 150px;
    height: 66px;
    border: 1px solid #eee;
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
    border-radius: 20px;
    background-color: aliceblue;
    padding: 0.8rem 1rem;
    color: black;
    text-align: center;
    cursor: grab;
}
.item:active {
    cursor: grabbing;
}
.placeholder{
    width: 150px;
    height: 250px;
}
.hold{
    border: 3px solid #bad21a;
}
.hide{
    display: none;
}
.hovered {
    border-top: 2px solid #4510d8;
}